body {
    margin: 0;
}

p {
  margin: 0;
}

h3 {
  margin: 0;
}

.button-box {
  position: relative;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 500px;
  background-color: #fff;
  border: 2px solid #ff3333;
  border-radius: 10px;
  opacity: 1;
  z-index: 9999;
  padding: 20px;
  box-sizing: border-box; 
}

.popup-header {
  margin-top: 10px;
  font-family: serif;
  font-size: 20px;
  color: #000;
  text-transform: uppercase;
  text-align: center;
}

.popup-header::after {
  content: "";
  display: block;
  width: 170px;
  height: 4px;
  background-color: #ff3333;
  margin: 10px auto 40px;
}

.popup-content {
  box-sizing: border-box;
  align-items: left;
  text-align: left;
}

.select-header {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: serif;
  font-size: 15px;
  color: #000;
  text-transform: uppercase;
  text-align: center;
}

.form-tel {
  width: 90%;
  height: 30px;
  border: 2px solid #75c1ff;
  background-color: #f4f7f6;
  padding: 10px;
  font-family: serif;
  font-weight: 400;
  font-style: regular;
  font-size: 17px;
  opacity: 0.54;
  margin-top: 5px;
  margin-bottom: 20px;
}

.form-text {
  width: 90%;
  height: 100px;
  border: 2px solid #75c1ff;
  background-color: #f4f7f6;
  padding: 10px;
  font-family: serif;
  font-weight: 400;
  font-style: regular;
  font-size: 17px;
  opacity: 0.54;
  margin-top: 5px;
  margin-bottom: 20px;
}

.radio-buttons {
  margin-top: 10px;
  margin-bottom: 20px;
}

.popup-button-box{
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.popup-button {
  width: 120px;
  height: 40px;
  border: 0;
  border-radius: 50%;
  background-color: #75c1ff;
  color: #fff;
  font-family: serif;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
  
}

.popup-button:hover {
  background-color: #ff3333;
  color: #fff;
}


.menu-mobile {
  display: none;
}

.header {
  width: 100%;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  background-color: #75c1ff;
  padding-left: 80px;
  padding-right: 80px;
  box-sizing: border-box;
  border-bottom: #ff3333;
}

.logo-header {
  width: 170px;
}

.menu-burger {
  display: none;
}

.menu-links {
  display: flex;
}

.menu-item {
  margin-left: 20px;
  list-style-type: none;
}

.menu-link {
  text-decoration: none;
  color: #fff;
  font-family: serif;
  font-size: 20px;
  text-transform: uppercase;
}

.menu-link:hover {
  color: #ff3333;
}

.main-button {
  width: 160px;
  height: 55px;
  border: 0;
  border-radius: 50%;
  background-color: #fff;
  color: #1e90ff;
  font-family: serif;
  font-size: 13px;
  text-transform: uppercase;
  cursor: pointer;
}

.main-button:hover {
  background-color: #ff3333;
  color: #fff;
}

.offer {
  width: 100%;
  height: 700px;
  /* background-image: url("img/068d2eb84a9d1fd247ea7239f4ae18e4.jpg"); */
  background-image: url("img/offer3.jpg");
  background-size: cover;
  background-position: center; 
  position: relative;
}

.title {
  width: 600px;
  height: 100%;
  position: absolute;
  top: -100px;
  right: 10px;
  /* background-image: url("img/logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
  
}

.titleImage {
  width: 600px;
}

.title-camp-box {
  text-align: right;
}

.title-camp {
  font-size: 40px;
  font-family: serif;
  font-weight: 400;
  color: #fff;
  line-height: 0px;
}

.title-h1-box {
  text-align: right;
}

.title-h1 {
  font-size: 110px;
  font-family: serif;
  font-weight: 500;
  color: #fff;
  line-height: 0px;
  text-transform: uppercase;
}

.reward-main {
  width: 35%;
  height: 100px;
  position: absolute;
  bottom: 120px;
  left: 110px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto-fill);
  gap: 10px;
}

.reward-card {
  width: 100%;
  background-color: #fff;
  border-radius: 10%;
}

.reward-card-image {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-image: url("img/mosgortur.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 10%;
}

.reward-card-header {
  font-family: serif;
  font-size: 15px;
  font-weight: 500;
  color: #000;
  text-align: center;
}


.services {
  width: 100%;
  height: 700px;
  background: linear-gradient(to top, #75c1ff, #fff);
  align-items: center;
  justify-content: center;
  text-align: center;
}

.our-services {
  padding-top: 40px;
}

.services-header {
  font-family: serif;
  font-size: 35px;
  color: #000;
  text-transform: uppercase;
}

.services-header::after {
  content: "";
  display: block;
  width: 220px;
  height: 4px;
  background-color: #ff3333;
  margin: 10px auto 40px;
}

.service-cards {
  width: 80%;
  height: 500px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto-fill);
  gap: 20px;
}

.service-card {
  width: 100%;
  height: 88%;
  background-color: #fff;
  border-radius: 10%;
  box-sizing: border-box;
  position: relative;
}

.moreSwim {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 70%;
  background-color: #fff;
  border: 2px solid #ff3333;
  border-radius: 10px;
  opacity: 1;
  z-index: 195;
  padding: 20px;
  box-sizing: border-box;
}

.moreTerritoria {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 70%;
  background-color: #fff;
  border: 2px solid #ff3333;
  border-radius: 10px;
  opacity: 1;
  z-index: 9999;
  padding: 20px;
  box-sizing: border-box;
}

.moreInfoImages {
  width: 90%;
  height: 40%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fill);
  gap: 20px;
}

.moreInfoImage {
  width: 100%;
  height: 88%;
  box-sizing: border-box;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.moreInfoImageSwim1 {
  background-image: url("img/season2.jpeg");
}

.moreInfoImageSwim2 {
  background-image: url("img/offer3.jpg");
}

.moreInfoImageSwim3 {
  background-image: url("img/3.jpg");
}

.moreInfoImageTerritoria1 {
  background-image: url("img/99bdaba140c914b1ff741c9096637aaf.jpg");
}

.moreInfoImageTerritoria2 {
  background-image: url("img/4.jpg");
}

.moreInfoImageTerritoria3 {
  background-image: url("img/068d2eb84a9d1fd247ea7239f4ae18e4.jpg");
}

.card-image {
  width: 100%;
  height: 220px;
  background-size: cover;
  background-position: center;
  border-radius: 11%;
}

.card-image1 {
  background-image: url("img/swim1.jpg");
}

.card-image2 {
  background-image: url("img/4.jpg");
}

.card-image3 {
  background-image: url("img/5.jpg");
}

.card-image4 {
  background-image: url("img/6.jpg");
}

.card-header {
  font-family: serif;
  font-size: 18px;
  font-weight: 500;
  color: #000;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-text {
  font-family: serif;
  font-size: 15px;
  font-weight: 300;
  color: #000;
}

.card-button {
  width: 160px;
  height: 40px;
  border: 0;
  border-radius: 50%;
  background-color: #75c1ff;
  color: #fff;
  font-family: serif;
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer;
  position: absolute;
  bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.card-button:hover {
  background-color: #ff3333;
  color: #fff;
}

.events {
  width: 100%;
  height: 600px;
  background: linear-gradient(to bottom, #75c1ff, #fff);
}

.events-box {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 60px 0 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fill);
  gap: 100px;
  box-sizing: border-box;
}

.event-image1 {
  width: 100%;
  background-image: url("img/3.jpg");
  background-position: center;
  background-size: cover;
  box-shadow: 5px 5px 20px 0px #1e90ff;
}

.event-image2 {
  width: 100%;
  background-image: url("img/events2.jpg");
  background-position: center;
  background-size: cover;
  box-shadow: -5px 5px 20px 0px #1e90ff;
}

.event-description {
  position: relative;
}

.event-header {
  font-family: serif;
  font-size: 27px;
  color: #000;
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
}

.event-header::after {
  content: "";
  display: block;
  width: 220px;
  height: 4px;
  background-color: #ff3333;
  margin: 10px auto 10px;
}

.event-text {
  font-family: serif;
  font-size: 15px;
  text-align: center;
} 

.event-button {
  width: 250px;
  height: 60px;
  border: 0;
  border-radius: 30%;
  background-color: #75c1ff;
  color: #fff;
  font-family: serif;
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer;
  position: absolute;
  bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.event-button:hover {
  background-color: #ff3333;
  color: #fff;
}

.camp-season {
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #75c1ff, #fff);
  padding-bottom: 100px;
}

.camp-season-header {
  font-family: serif;
  font-size: 27px;
  color: #000;
  text-transform: uppercase;
  margin: 40px auto 40px;
  text-align: center;
}

.camp-season-header::after {
  content: "";
  display: block;
  width: 220px;
  height: 4px;
  background-color: #ff3333;
  margin: 10px auto 10px;
}

.season-image1 {
  background-image: url("img/season1.jpeg");
}

.season-image2 {
  background-image: url("img/season2.jpeg");
}

.season-image3 {
  background-image: url("img/season3.webp");
}

.season-image4 {
  background-image: url("img/season4.jpg");
}

.contacts-main {
  width: 100%;
  height: 800px;
  background: linear-gradient(to top, #75c1ff, #fff);
}

.contacts {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
  padding-bottom: 60px;
}

.contacts-text {
  font-size: 25px;
  font-family: serif;
  font-weight: 500;
  color: #000;
  line-height: 40px;
  padding: 10px;
}

.contacts-header {
  font-family: serif;
  font-size: 27px;
  color: #000;
  text-transform: uppercase;
  margin: 40px auto 0;
  text-align: center;
}

.contacts-header::after {
  content: "";
  display: block;
  width: 220px;
  height: 4px;
  background-color: #ff3333;
  margin: 10px auto 10px;
}

.map-box {
  max-width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.map {
  max-width: 100%;
  height: 400px;
  border: 2px solid #ff3333;
}

.footer-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  background-color: #1e90ff;
  padding-left: 100px;
  padding-right: 100px;
  box-sizing: border-box;
  color: #fff;
  font-family: serif;
  font-size: 18px;
}

.footer-contacts {
  display: flex;
}

.logo-footer {
  width: 70px;
  border-radius: 50%;
  margin-right: 30px;
}

@media (max-width: 1250px) {
  .menu-link {
    font-size: 15px;
  }

  .header-content {
    padding-left: 30px;
    padding-right: 30px;
  }

  .title {
    width: 500px;
    right: 5px;
    top: 0; 
  }

  .titleImage {
    width: 500px;
  }
  .title-camp {
    font-size: 20px;
  }
  
  .title-h1 {
    font-size: 60px;
  }

}

@media (max-width: 640px) {
  .menu-links {
    display: none;
  }

  .menu-burger {
    display: none;
  }

  .menu-burger {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 40px;
    top: 10px;
    z-index: 2;
    margin-right: 20px;
  }

  .humburger {
    display: block;
  }

  .humburger-line {
    width: 30px;
    height: 4px;
    margin-top: 5px;
    background-color: #fff;
    list-style-type: none;
  }

  .main-button {
    /* display: none; */
  }

  .offer {
    height: 600px;
    background-image: url("img/offer3.jpg");
  }

  .title {
    width: 300px;
    right: 5px;
    top: 0; 
  }

  .titleImage {
    width: 300px;
  }
  .title-h1 {
    font-size: 40px;
  }

  .title-camp {
    font-size: 17px;
  }

  .services {
    height: 100%;
  }

  .reward-main {
    display: none;
  }

  .contacts {
    display: block;
  }

  .service-cards {
    height: 100%;
    grid-template-columns: repeat(1, 1fr);
  }

  .moreInfoImages {
    width: 90%;
    height: 40%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fill);
    gap: 10px;
  }

  .service-card {
    height: 100%;
  }

  .card-image {
    height: 200px;
  }

  .card-text {
    margin-bottom: 80px;
  }

  .events {
    height: 100%;
  }

  .event-text {
    font-size: 15px;
  }

  .event-header {
    font-size: 25px;
  }

  .header-content {
    padding: 0 20px;
    height: 70px;
  }

  .logo-header {
    width: 120px;
  }

  .footer {
    display: none;
  }

  .events-box {
    gap: 15px;
  }

  .event-button-box {
    text-align: center;
  }

  .event-button {
    position: relative;
    margin-top: 40px;
    width: 200px;
  }

  .menu-mobile {
    width: 100%;
    height: 70px;
    padding: 10px;
    background-color: #75c1ff;
    position: fixed;
    bottom: 0;
    z-index: 10;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(auto-fill);
    gap: 0;
    box-sizing: border-box;
  }

  .menu-icon {
    width: 100%;
    height: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* border: 3px solid #EB7F00;
    border-right: 0; */
    box-sizing: border-box;
  }

  .menu-mobile-link {
    text-decoration: none;
    font-size: 11px;
    color: #fff;
    font-family: serif;
    font-weight: 400;
    font-style: bold;
    text-transform: uppercase;
    margin-top: 5px;
  }

  .menu-icon-main {
    width: 100%;
    height: 70%;
    background-image: url("img/sidebar-top-svgrepo-com.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .menu-icon-parents {
    width: 100%;
    height: 70%;
    background-image: url("img/parents-child-svgrepo-com.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .menu-icon-camp {
    width: 100%;
    height: 70%;
    background-image: url("img/camp-tent-svgrepo-com.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .menu-icon-price {
    width: 100%;
    height: 70%;
    background-image: url("img/price-tag-2-svgrepo-com.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .menu-icon-contacts {
    width: 100%;
    height: 70%;
    background-image: url("img/contacts-svgrepo-com.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

}

@media (orientation: landscape) and (max-width: 900px) {
  .menu-links {
    display: none;
  }

  .menu-burger {
    display: none;
  }

  .services {
    height: 100%;
  }

  .service-cards {
    height: 100%;
    grid-template-columns: repeat(2, 1fr);
  }

  .service-card {
    height: 100%;
  }

  .event-button-box {
    text-align: center;
  }

  .event-button {
    position: relative;
    margin-top: 40px;
    width: 200px;
  }

  .card-button-box {
    text-align: center;
  }

  .card-button {
    position: relative;
    margin-top: 40px;
    width: 200px;
  }

  .contacts {
    display: flex;
  }

  .offer {
    height: 300px;
  }

  .reward-main {
    width: 30%;
    height:70px;
    position: absolute;
    bottom: 80px;
    left: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fill);
    gap: 10px;
  }

  .reward-card-header {
    font-family: serif;
    font-size: 11px;
    font-weight: 300;
  }

  .title {
    width: 300px;
    right: 5px;
    top: 0; 
  }

  .titleImage {
    width: 300px;
  }


  .title-h1 {
    font-size: 60px;
  }

  .title-camp {
    font-size: 25px;
  }

  .footer {
    display: none;
  }

  .menu-mobile {
    width: 100%;
    height: 70px;
    padding: 10px;
    background-color: #75c1ff;
    position: fixed;
    bottom: 0;
    z-index: 10;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(auto-fill);
    gap: 0;
    box-sizing: border-box;
  }

  .menu-mobile {
    width: 100%;
    height: 70px;
    padding: 10px;
    background-color: #75c1ff;
    position: fixed;
    bottom: 0;
    z-index: 10;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(auto-fill);
    gap: 0;
    box-sizing: border-box;
  }

  .menu-icon {
    width: 100%;
    height: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* border: 3px solid #EB7F00;
    border-right: 0; */
    box-sizing: border-box;
  }

  .menu-mobile-link {
    text-decoration: none;
    font-size: 13px;
    color: #fff;
    font-family: serif;
    font-weight: 400;
    font-style: bold;
    text-transform: uppercase;
    margin-top: 5px;
  }

  .menu-icon-main {
    width: 100%;
    height: 70%;
    background-image: url("img/sidebar-top-svgrepo-com.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .menu-icon-parents {
    width: 100%;
    height: 70%;
    background-image: url("img/parents-child-svgrepo-com.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .menu-icon-camp {
    width: 100%;
    height: 70%;
    background-image: url("img/camp-tent-svgrepo-com.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .menu-icon-price {
    width: 100%;
    height: 70%;
    background-image: url("img/price-tag-2-svgrepo-com.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .menu-icon-contacts {
    width: 100%;
    height: 70%;
    background-image: url("img/contacts-svgrepo-com.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

}

@media (min-width: 641px) and (max-width: 900px) {
  .menu-links {
    display: none;
  }

  .menu-burger {
    display: none;
  }

  .services {
    height: 100%;
  }

  .service-cards {
    height: 100%;
    grid-template-columns: repeat(2, 1fr);
  }

  .service-card {
    height: 100%;
  }

  .event-button-box {
    text-align: center;
  }

  .event-button {
    position: relative;
    margin-top: 40px;
    width: 200px;
  }

  .card-button-box {
    text-align: center;
  }

  .card-button {
    position: relative;
    margin-top: 40px;
    width: 200px;
  }

  .contacts {
    display: flex;
  }

  .offer {
    height: 300px;
  }

  .reward-main {
    width: 30%;
    height:70px;
    position: absolute;
    bottom: 80px;
    left: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fill);
    gap: 10px;
  }

  .reward-card-header {
    font-family: serif;
    font-size: 11px;
    font-weight: 300;
  }

  .title {
    width: 300px;
    right: 5px;
    top: 0; 
  }

  .titleImage {
    width: 300px;
  }

  /* .title {
    width: 100%;
    right: 15px;
    top: 50px; 
  } */
  .title-h1 {
    font-size: 60px;
  }

  .title-camp {
    font-size: 25px;
  }

  .footer {
    display: none;
  }

  .menu-mobile {
    width: 100%;
    height: 70px;
    padding: 10px;
    background-color: #75c1ff;
    position: fixed;
    bottom: 0;
    z-index: 10;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(auto-fill);
    gap: 0;
    box-sizing: border-box;
  }

  .menu-mobile {
    width: 100%;
    height: 70px;
    padding: 10px;
    background-color: #75c1ff;
    position: fixed;
    bottom: 0;
    z-index: 10;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(auto-fill);
    gap: 0;
    box-sizing: border-box;
  }

  .menu-icon {
    width: 100%;
    height: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* border: 3px solid #EB7F00;
    border-right: 0; */
    box-sizing: border-box;
  }

  .menu-mobile-link {
    text-decoration: none;
    font-size: 13px;
    color: #fff;
    font-family: serif;
    font-weight: 400;
    font-style: bold;
    text-transform: uppercase;
    margin-top: 5px;
  }

  .menu-icon-main {
    width: 100%;
    height: 70%;
    background-image: url("img/sidebar-top-svgrepo-com.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .menu-icon-parents {
    width: 100%;
    height: 70%;
    background-image: url("img/parents-child-svgrepo-com.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .menu-icon-camp {
    width: 100%;
    height: 70%;
    background-image: url("img/camp-tent-svgrepo-com.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .menu-icon-price {
    width: 100%;
    height: 70%;
    background-image: url("img/price-tag-2-svgrepo-com.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .menu-icon-contacts {
    width: 100%;
    height: 70%;
    background-image: url("img/contacts-svgrepo-com.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

}
